.screen-1 {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 840px;
    width: 780px;
    border: 2px solid #ffffff;
    padding: 20px;
}

.welcome-note {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #fed563;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}